<div class="container">
    <h1>Invasion English</h1>

    <%# Links %>
    <%= link_to "Server Information", about_path, class: "btn btn-secondary" %>
    <%= link_to "Writings", writings_path, class: "btn btn-primary" %>
</div>
